* {
   box-sizing: border-box;
}

body {
   font-family: 'Heebo', sans-serif;
   margin: 0;
}
/*header*/

header {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   background-image: url("img/Header-pic.png");
   background-position: center;
   background-size: cover;
   height: 760px;
}

nav {
   background-color: #FFFFFF;
   height: 80px;
   position: relative;
   top: 10px;
   width: 90%;
}
.nav-left {
   float: left;
   padding-left: 30px;
   margin-top: 20px;
   font-size: 24px;
   letter-spacing: 5px;
}
.nav-right {
   font-size: 14px;
   padding: 30px 10px 10px 10px;
   float: right;
   text-decoration: none;
   font-weight: bolder;
}
.nav-right-pic {
   float: right;
   padding: 20px;
}
.title {
   margin: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   color: white;
}
.title-small {
   font-size: 24px;
   letter-spacing: 5px;
   margin: 0;
   font-weight: lighter;
}
h1 {
   font-size: 100px;
   font-weight: lighter;
   letter-spacing: 10px;
   margin: 0;
   line-height: 100px;
}

/* experience div */

.experience {
   height: 488px;
   display: grid;
   grid-template-rows: 61px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
   grid-template-columns: 19px 25fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 26fr; 
   padding: 50px;
}
.ex-img2 {
   grid-row: 3 / span 6;
   grid-column: 7 / span 3;
}
.ex-img1 {
   grid-row: 1 / span 6;
   grid-column: 15 / span 1;
}
.ex-div1 {
   grid-row: 1 / span 4;
   grid-column: 1 / span 10;
   font-size: 70px;
   line-height: 70px; 
}
.ex-div2 {
   grid-row: 6 / span 1;
   grid-column: 1 / span 3;
}
.ex-div3 {
   grid-row: 7 / span 4;
   grid-column: 1 / span 3;
}

/* subscribe div*/

.subscribe {
   height: 249px;
   background-color: #EE2655;
   display: flex;
   flex-direction: column;
   justify-content: center;  
   align-items: center;
}
#email {
   padding: 15px 100px;
   background-color: #F85B80;
   border: none;
   margin-right: 10px;
}
.para3 {
   font-style: italic;
   color: white;
}
button {
   border: 1px solid white;
   color: white;
   background-color: #EE2655;
   padding: 14px 50px;
   letter-spacing: 3px;
}

/* package div*/

.package {
   height: 620px;
   padding: 100px; 
}
.border-dash {
   border: 2px solid #EE2655; 
   margin: 0 auto;
   margin-bottom: 75px;
   width: 100px;
}
     
.border-dash1 {
   border: 2px solid #EE2655; 
   margin: 0;
   margin-bottom: 20px;
   width: 100px;
}
.border-dash2 {
   border-bottom: 4px solid #EE2655; 
   margin: 75px auto;
   width: 100px;
}
.detail-titles {
   font-size: 32px;
}  
.packs1 {
   text-align: center;
}  
.packs2 {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}
.pack-t {
   font-size: 70px;
   margin-top: -50px;
}
.para4 {
   margin-top: -30px;
   margin-bottom: 40px;
   font-style: italic;
}


/* featured div */

.featured {
   background-image: url("img/world-background.png");
   background-repeat: no-repeat;
   margin-top: 75px;
}
.feat-grid1 {
   display: grid;
   grid-template-columns: 570px 570px;
   grid-template-rows: 600px;
}
.featured-pics1 {
   background-image: url("img/Greece-pic.png");
   background-repeat: no-repeat;
   grid-row: 1 / span 1;
   grid-column: 1 / span 2;
   margin-bottom: 0;
}
.feat-overlap {
   background-color: rgba(255, 255, 255, 0.7);
   grid-row: 1 / span 1;
   grid-column: 2 / span 1;
   text-align: center;
   line-height: 20px;
   padding-top: 50px;
}
.feat-t {
   font-size: 70px;
}
.featured-pics2 {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin: -150px 0 0 0 ;
}
.feats3 {
   display: flex;
   justify-content: center;
}
.para5 {
   margin-top: -25px; 
}
.feat-details {
   font-weight: bolder;
}
.feats3-1 {
   height: 260px;
   width: 510px;
   text-align: center;
}
.feats3-2 {
   font-size: 46px;
}

.dest-button {
   display: flex;
   justify-content: center;
   margin: 250px auto;
}
#dest-button {
   border: 1px solid #EE2655;
   color: #EE2655;
   background-color: white;
   padding: 14px 50px;
   letter-spacing: 3px;
}
.feats3-3 {
   font-size: 22px;
   font-style: italic;
}

/* testimoni div */


.testimoni {
   background-image: url("img/Testimoni-pic.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 570px;
   margin: -100px;
   display: flex;
   flex-flow: column wrap;
   justify-content: center;
   align-items: center;
}
.test-1 {
   font-size: 70px;
   color: white;
   margin: 0;
}
.test-2 {
   font-size: 22px;
   font-style: italic;
   font-family: PT serif;   
}
.test-3 {
   color: #FFE200;
   font-family: PT serif;
   font-size: 46px;
   font-style: italic;     
}
.test-4 {
   font-size: 16px;
   font-weight: bolder;
   color: white;  
}
.test-5 {
   font-size: 20px;
   font-family: PT serif;
   color: white;   
}
.border-dash3 {
   border: 2px solid white; 
   margin: 0 auto;
   width: 100px;
   margin: 25px;
}

/* blog div*/

.blog {
  height: 950px; 
  padding: 30px;
  margin: 25px 0 -250px 0;

}
.para6 {
   margin-top: -60px;
   font-size: 22px;
   font-family: PT serif;
   font-style: italic;
   color: #727272;
}

.blog-pics {
   height: 240px;
   width: 360px;
}
.view-button {
   border: none;
   background-color: rgba(255, 255, 255, 0);
   color: #EE2655;
   padding: 0;
}

/* footer div*/

.footer {
   height: 720px; 
   background-color: #EE2655; 
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   margin: -140px;
}
.footer-nav {
   background-color: #D51945;
   color: white;
   display: flex;
   justify-content: space-between;
   margin-bottom: 10px;
}
.all-rights {
   font-size: 13px;
   margin: 32px 0 0 20px
}
.foot-t {
   font-size: 24px;
   padding-bottom: 50px;
}
.foot-nav1 {
   display: flex;
   justify-content: space-between;
   margin-left: 30px;
}
.foot-nav2 {
   display: flex;
   justify-content: space space-around;
   margin: 30px 40px 0 0;
}
.foot-links {
   text-decoration: none;
   color: white;
   padding-right: 40px
}
.foot-words {
   display: flex;
   justify-content: space-around;
   margin-top: -650px;
}
.foot-shy {
   height: 442px;
   width: 510px;
   color: white;
   margin-top: -30px;
}
.shy-para {
   font-size: 22px;
   font-style: italic;
   font-weight: lighter;
   margin-top: -20px;
   font-family: PT serif;
}
.foot-button {
   border: none;
   background-color: white;
   color: #EE2655;
   padding: 20px 100px 20px 100px;
   margin-top: 30px;
}
.foot-head {
   font-size: 70px;
}

.address {
   color: white;
   margin-top: 250px;
}

.address-t {
   margin-left: 40px;
   font-size: 32px;
}
ul {
   list-style-type: none;
}




#foot-dashes {
   color: white;
   font-size: 40px;
   font-weight: bolder;
}

.border-dash4 {
   margin: -50px 0 0 40px;
}

.border-dash5 {
   margin-top: -100px;
}



